

.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center !important
}
.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important
}

.text-intro{
    color: black;
    width: 100%;
}
.font-white{
    color:white;
}

.outer-header, .inner-header{
    width: 100%;
    height: 100%;
}

.inner-header .main-heading, .small-header .main-heading{
    width: 50%;
    height: auto;
    margin: 1% 1%;
    padding: 0px;
    letter-spacing: 0px;
}

.social-links .icons{
    all:initial;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    
}
.social-links {
    all: initial;
    position: absolute;
    right: 0px;;
    margin-right: 10px;
    margin-top: 10px;
}
.text-normal{
    text-transform: initial;
}

.img-center{
    margin: auto;
    display: block;
}



.page-title-bar{
    background-color: #04a788;
    padding: 0.6% 1% 0.6% 5%;
    width: 98%;
    margin: 2% auto 1% auto;
    border-radius: 5px;
}
.page-title-bar-heading{
    color: #ffffff;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.loader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f9f0e4;
    z-index: 384950;

}

.loader img{
    margin: auto;
    display: block;
    top: 50%;
    position: relative;
    width: 30px;
    height: 30px;
}

.card {
    width: 247px;
    margin: auto;
    display: inline-block;
    border: 5px solid transparent;
}

.card-heading {
    text-align: center;
    background-color:#b78b49;
    margin-bottom: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
    
}

.card-heading h4 {
    color: white;
    font-size: 20px;
    padding: 1% 0 1% 0;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
}

.card-img {
    background-color: #f7f7f7;
    height: 215px;
}

.img{
    max-height: 215px;
    max-width: 246px;
}

.card-name h5 {
    text-align: center;
    margin: 0px;
}

.card-description p {
    color: black !important;
}

.long-heading{
    margin-bottom: 10px !important;
    width: fit-content;
    width: -webkit-fitcontent;
    width: -moz-fitcontent;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.commettiee ul li p{
    color: black;
}

.form-element {
    border-radius: 0px !important;

}

.form-element:focus{
    border-color: #d4bb06 !important;
}
#gmap_canvas {
    border: none;
    width: 100%;
    height: 420px
}
.span-fa {
    width: 20px;
}

.textarea-membership{
    height: 85px !important;
}

p{
    color: #000000;
}
footer p{
    color: #7e7e7e;
}
.membership-para{
    margin: 8% 0 0 0;
    font-size: 18px;
    padding: 2%;
}
.MR-form{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0;
    margin: 2% 0 2% 0%;
}
.form-horizontal{
    padding: 0 2% 0 2%;
}

.rules-content ol{
    padding: 5%;
    line-height: 2;
}

/* .l-navbar{
    background-color: 
} */

.main-carousel{
    width: 100%;
}
.slide-wrapper{
    width: 70%;
    margin: 0;
}
.slide-wrapper > .row{
    margin: 4% 2% 2%;
}
.home{
    display: flex;
    justify-content: flex-start;
    padding: 0;
}
.journal-wrapper{
    padding: 0;
}
.journal{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 4%;
}
.journal-head{
    font-size: 18px;
    font-weight: 500;
}
.journal-content div p{
    padding: 1% 5%;
    text-align: justify;
}