<!DOCTYPE html>
<html lang="en">

<head>
    <title>South Indian History Congress</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="asset/img/logo.png">
</head>

<body>
    <!--  preloader start -->
    <div class="loader">
        <img src="asset/img/loader.gif">
    </div>
    <!-- preloader end -->
    <div class="wrapper">
        <!--header start-->
        <header class="l-header">
            <div id="sticky-wrapper" class="l-navbar-wrapper" style="height: 200px;">
                <div class="l-navbar l-navbar_expand l-navbar_t-light js-navbar-sticky" style="width: 1440px;">
                    <div class="">
                        <nav class="menuzord js-primary-navigation menuzord-responsive" role="navigation" aria-label="Primary Navigation">
                            <!-- <a href="javascript:void(0)" class="showhide"><em></em><em></em><em></em></a> -->
                            <!--logo start-->
                            <div class="outer-header">
                                <div class="social-links text-normal">
                                    <img class="icons" src="asset/img/social-icons/facebook.png">
                                    <img class="icons" src="asset/img/social-icons/google-plus.png">
                                    <img class="icons" src="asset/img/social-icons/instagram.png">
                                    <img class="icons" src="asset/img/social-icons/twitter.png">
                                    <img class="icons" src="asset/img/social-icons/youtube.png">
                                    <br>
                                    <span class="fa fa-envelope"></span> sethuksethu@gmail.com
                                    <br>
                                    <span class="fa fa-mobile"></span> 9747542756
                                </div>
                                <div class="inner-header">
                                    <a href="" class="logo-brand">
                                        <img class="retina logo" src="asset/img/logo.png" alt="SIHC">
                                    </a>
                                    <h2 class="main-heading">South Indian History Congress</h2>
                                    <h4 class="sub-heading">Madurai</h4>
                                </div>
                            </div>
                            <!-- small header -->
                            <div class="small-header" style="display: none;">
                                <a href="" class="logo-brand">
                                    <img class="retina logo" src="asset/img/logo.png" alt="SIHC">
                                </a>
                                <h2 class="main-heading">SIHC</h2>
                                <label class="sub-heading">Madurai</label>
                            </div>
                            <!-- small header -->

                            <!--logo end-->

                            <!--mega menu start-->
                            <ul class="menuzord-menu menuzord-right c-nav_s-standard menuzord-indented scrollable" style="max-height: 400px;">
                                <li class="">
                                    <a href="">Home</a>
                                </li>
                                <li class="">
                                    <a href="">Rules and Bylaws</a>
                                </li>
                                <li class="">
                                    <a href="">Administration</a>
                                </li>
                                <li class="">
                                    <a href="">Session Held</a>
                                </li>
                                <li class="">
                                    <a href="">Membership</a>
                                </li>
                                <li class="">
                                    <a href="">Members List</a>
                                </li>
                                <li class="">
                                    <a href="">Conference</a>
                                    <ul class="dropdown" style="right: auto;">
                                        <li>
                                            <a href="">Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="">Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="">Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="">Menu 1</a>
                                        </li>
                                        <li>
                                            <a href="">Menu 1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a href="">Contact Us</a>
                                </li>
                                <li class="scrollable-fix"></li>
                            </ul>
                            <!--mega menu end-->

                        </nav>
                    </div>
                </div>
            </div>

        </header>
        <!--header end-->

        <!--slider section-->

        <!--slider section-->

        <!--body content start-->
        <div>
            <div class="main-carousel">
                <div>
                    <img src="asset/img/color-placeholder.png">
                </div>
                <div>
                    <img src="asset/img/color-placeholder.png">
                </div>
                <div>
                    <img src="asset/img/color-placeholder.png">
                </div>
                <div>
                    <img src="asset/img/color-placeholder.png">
                </div>
                <div>
                    <img src="asset/img/color-placeholder.png">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-justify text-intro">
                                <b>South Indian History Congress</b> was founded at a conclave of historians at the School of Historical Studies, Madurai Kamaraj University, Madurai - 625021, on 2nd December 1978 with Prof. K.K.Pillay as first President and Prof. K.Rajayyan as founder General Secretary. It was registered under the Societies Act at Madurai in 1979 with Reg.No.32/1979. The Central Office of the Congress is established at School of Historical Studies, Madurai Kamaraj University, Madurai. The first inaugural conference of this Congress was held at Madurai Kamaraj University Campus in February 1980. Thereafter annual sessions of the Congress were held at different universities and colleges of South India.
                            </p>
                        </div>
                        <div class="col-12">
                            
                        </div>
                    </div>
                
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div>
                        <div class="">
                            <div class="journal-head text-center"><label><b>Journals</b></label></div>
                            <div class="journal-content">
                                <img class="img-center" src="asset/img/journals.png"><br>
                                <div class=""><label><b>Editions:</b></label>
                                    <p class="text-justify">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                                <div class=""><label><b>Publications:</b></label>
                                    <p class="text-justify">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--body content end-->

        <!--footer 1 start -->
        <footer id="footer" class="dark">
            <div class="primary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="" class="m-bot-20 footer-logo">
                                <img class="retina" src="asset/img/logo.png" alt="">
                            </a>
                            <p>Massive is fully responsible, Performance oriented and SEO optimized theme.</p>

                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">useful links</h5>
                            <ul class="f-list">
                                <li>
                                    <a href="">Standard Blog post</a>
                                </li>
                                <li>
                                    <a href="">Quotation post</a>
                                </li>
                                <li>
                                    <a href="">Audio Post</a>
                                </li>
                                <li>
                                    <a href="">Massive Video Demo</a>
                                </li>
                                <li>
                                    <a href="">Blog Image Post</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">follow us</h5>
                            <ul class="f-list">
                                <li>
                                    <a href="">About Massive</a>
                                </li>
                                <li>
                                    <a href="">Career</a>
                                </li>
                                <li>
                                    <a href="">Terms &amp; Condition</a>
                                </li>
                                <li>
                                    <a href="">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-uppercase">contact us</h5>
                            <div>
                                <p>
                                    Calicut Univeristy
                                    <br> Kerala
                                    <br>
                                    <span class="fa fa-location-arrow"></span> Thenhipalam
                                    <br>
                                    <span class="fa fa-envelope"></span> sethuksethu@gmail.com
                                    <br>
                                    <span class="fa fa-phone"></span> 04942456785
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="secondary-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="m-top-10">Copyright &copy 2018 |
                                <span class="font-white"> South Indian History Congress</span> | All Rights Reserved</span>
                        </div>
                        <div class="col-md-6">
                            <div class="social-link circle pull-right">
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer 1 end-->
    </div>
    <a data-scroll="" class="lift-off js-lift-off lift-off_hide" href="">
        <i class="fa fa-angle-up"></i>
    </a>
</body>

</html>